<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.csumb.itcd.ideasofmarch2015" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera2"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScanDoc"
            android:label="@string/title_activity_scan_doc" >
        </activity>
        <activity
            android:name=".ScanCode"
            android:label="@string/title_activity_scan_code" >
        </activity>
        <activity
            android:name="me.dm7.barcodescanner.zbar.sample.Passport"
            android:label="@string/title_activity_passport" >
        </activity>
        <activity
            android:name="me.dm7.barcodescanner.zbar.sample.ID"
            android:label="@string/title_activity_id" >
        </activity>
        <activity
            android:name="me.dm7.barcodescanner.zbar.sample.QR"
            android:label="@string/title_activity_qr" >
        </activity>
        <activity
            android:name=".BarCode"
            android:label="@string/title_activity_bar_code" >
        </activity>
        <activity
            android:name="me.dm7.barcodescanner.zbar.sample.Passport_Info"
            android:label="@string/title_activity_passport__info" >
        </activity>
        <activity
            android:name="me.dm7.barcodescanner.zbar.sample.ID_Info"
            android:label="@string/title_activity_id__info" >
        </activity>
        <activity
            android:name="me.dm7.barcodescanner.zbar.sample.QR_Success"
            android:label="@string/title_activity_qr__success" >
        </activity>
        <activity
            android:name="me.dm7.barcodescanner.zbar.sample.QR_Fail"
            android:label="@string/title_activity_qr__fail" >
        </activity>
        <activity
            android:name="me.dm7.barcodescanner.zbar.sample.BarFail"
            android:label="@string/title_activity_bar_fail" >
        </activity>
        <activity
            android:name="me.dm7.barcodescanner.zbar.sample.Fin"
            android:label="@string/title_activity_fin" >
        </activity>
        <activity
            android:name=".ManualReg"
            android:label="@string/title_activity_manual_reg" >
        </activity>
        <activity
            android:name="me.dm7.barcodescanner.zbar.sample.Bar_Success"
            android:label="@string/title_activity_bar__success" >
        </activity>
    </application>

</manifest>
